.home {
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 89.5vh;
}

.home aside div {
    min-height: 45vh;
    background-color: lightblue;
}

.home aside div:nth-child(2n) {
    background-color: #c99;
}

@media screen and (max-width: 800px) {
    .home {
        grid-template-columns: 100vw;
        grid-template-rows: 89.5vh;
    }

    .home aside div {
        display: none;
    }
}